html{
    background-color: #E6E6E6;
}

h1{
    background-color: #FF9900;
    color: #F0F0F0;
    text-align: center;
    margin-bottom: 0;

}

ul.top-navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color:#FF9900;
    overflow: hidden;
    margin-top: 0;


}

.top-navbar li{
    display: inline;
    float: left;
    display: flex;
}

.top-navbar a{
    color: #F0F0F0;
    display: block;
    padding: 14px 16px;
    background-color: #FF9900;
}

.top-navbar li a:hover {
    background-color: #FFB647;
}

a{
    color: #F0F0F0;
    background-color: #006100;
    padding: 4px 6px;
}

a:hover{
    background-color: #014701;
}

.select-category {
    position: relative;
    font-family: Arial;

}

.select-category select{
    cursor: pointer;
    user-select: none;
    display: inline;
    background-color: #2F577F;
    padding: 8px 16px;
    color: #F0F0F0;
}

.select-category p{
    display: inline;
    background-color: #2F577F;
    padding: 8px 16px;
    color: #F0F0F0;
}

.select-category input{
    display: inline;
    background-color: #2F577F;
    padding: 8px 16px;
    color: #F0F0F0;
}

.select-category input:hover{
    background-color: #274768;
}

.game-display{
    margin: 20px
}

.game-display img{
    width:200px;
    height:300px;
}

.game-display img:hover{
    width:250px;
    height:375px;
}

.game-display input{
    background-color: #006100;
    color: #F0F0F0;
    width: 100px;
    height: 50px;

}

.game-display input:hover{
    background-color: #014701;
    width: 130px;
    height: 65px;
}

.game-result{
    display:flex;
    flex-wrap: wrap;
}

h2{
    background-color: #2F577F;
    color: #F0F0F0;
    text-align: center;
}